@import url('https://fonts.cdnfonts.com/css/common-pixel');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #E7F6F2;
}


body {
    background-color: #2C3333;
}

.big {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 160px;
    max-width: 915px;
    margin: 0 auto;
}

.customize {
    display: flex;
    position: relative;
}

#colorPick {
    width: 35%;
    margin-left: 1rem;
    margin-top: 1rem;
    position: absolute;
    left: 90px;
}

.sizePicker {
    display: flex;
    flex-direction: column;
}

.sizePicker label {
    margin-left: 108px;
    margin-top: 10px;
}

.toolbar button {
    background-color: #E7F6F2;
    padding: 0.5rem;
    margin: 0 auto;
    border-radius: 5px;
    width: 70%;
    cursor: pointer;
    color: #2C3333;
    font-size: 15px;
}


.toolbar {
    display: flex;
    background-color: #395B64;
    flex-direction: column;
    width: 16rem;
    gap: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.container {
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 256px;
}

.pixel {
    background-color: white;
    width: 30px;
    height: 30px;
}

.title {
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 5rem;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-family: 'Common Pixel', sans-serif;
}